---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);

		--vue-accent: 66,184,13;
		--vue-accent-gradient: linear-gradient(45deg, rgb(var(--vue-accent)), #3BA575 30%, white 60%);

		--react-accent: 97,218,251;
		--react-accent-gradient: linear-gradient(45deg, rgb(var(--react-accent)), #57C4E1 30%, white 60%);

		--solidjs-accent: 72,124,191;
		--solidjs-accent-gradient: linear-gradient(45deg, rgb(var(--solidjs-accent)), #8abfe6 30%, white 60%);

		--svelte-accent: 255,62,0;
		--svelte-accent-gradient: linear-gradient(45deg, rgb(var(--svelte-accent)), #E53700 30%, white 60%);

		--lit-accent: 48,80,250;
		--lit-accent-gradient: linear-gradient(45deg, rgb(var(--lit-accent)), #17ffff 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
